# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "0f43875a56726fbe13de63c8c8011441"
name = "metaobject-v2"
application_url = "https://metaimpoerter-v2.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products,read_metaobject_definitions,write_metaobject_definitions,read_metaobjects,write_metaobjects,write_product_listings,read_products,write_customers,read_publications,read_customers,write_translations"


[auth]
redirect_urls = [ "https://metaimpoerter-v2.onrender.com/auth/callback" ]
